<nz-layout class="full-screen">
    <nz-sider [nzWidth]="sidebarWidth" class="bst-sider-menu" [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" id="__siderbar">
        <app-sidebar [(isCollapsed)]="isCollapsed"></app-sidebar>
    </nz-sider>
    <nz-layout>
        <nz-header class="bst-header bst-header-item1">
            <i class="bst-menu-trigger" nz-icon [nzType]="isCollapsed?'menu-unfold':'menu-fold'" (click)="collapsedTrigger()"></i>
            <app-reuse-tab style="float:left;" #reuseTab id="__reuseTab" (changeTabSize)="tabSize($event)"></app-reuse-tab>
            <app-header style="float:right;width:270px;"></app-header>
        </nz-header>
        <nz-content class="bst-content">
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer class="bst-footer">
            <app-footer></app-footer>
        </nz-footer>
    </nz-layout>
</nz-layout>
<ng-template #trigger>
    <i nz-icon nzType="up"></i>
</ng-template>