.bst-sider-menu-index-logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
    margin-bottom: 20px
}

.bst-sider-menu-index-logo img {
    display: inline-block;
    vertical-align: middle;
    height: 32px
}

.bst-sider-menu-index-logo h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-weight: 600
}