<div nz-row [nzGutter]="24" class="pt-lg">
    <!-- <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <g2-card [title]="'DD'" total="¥ 126,560" contentHeight="44px" [action]="action1" [footer]="footer1">
            <ng-template #action1>
                <nz-tooltip [nzTitle]="'DD'">
                    <i nz-tooltip nz-icon type="info-circle"></i>
                </nz-tooltip>
            </ng-template>
            <trend flag="up" style="display:block; margin-top:2px;">
                'app.analysis.day'
                <span class="pl-sm">12%</span>
            </trend>
            <trend flag="down">
                'app.analysis.day'
                <span class="pl-sm">11%</span>
            </trend>
            <ng-template #footer1>
                <p class="text-truncate mb0">
                    'app.analysis.day'
                    <span class="ml-sm">￥12,423</span>
                </p>
            </ng-template>
        </g2-card>
    </div> -->
    <!-- <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <g2-card [title]="'app.analysis.visits'" total="8,848" contentHeight="46px" [action]="action2" [footer]="footer2">
            <ng-template #action2>
                <nz-tooltip [nzTitle]="'app.analysis.introduce'">
                    <i nz-tooltip nz-icon type="info-circle"></i>
                </nz-tooltip>
            </ng-template>
            <g2-mini-area *ngIf="data.visitData" color="#975FE4" height="46" [data]="data.visitData"></g2-mini-area>
            <ng-template #footer2>
                <p class="text-truncate mb0">
                    'app.analysis.day'
                    <span class="ml-sm">1,234</span>
                </p>
            </ng-template>
        </g2-card>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <g2-card [title]="'app.analysis.payments'" total="6,560" contentHeight="46px" [action]="action3" [footer]="footer3">
            <ng-template #action3>
                <nz-tooltip [nzTitle]="'app.analysis.introduce'">
                    <i nz-tooltip nz-icon type="info-circle"></i>
                </nz-tooltip>
            </ng-template>
            <g2-mini-bar *ngIf="data.visitData" height="46" [data]="data.visitData"></g2-mini-bar>
            <ng-template #footer3>
                <p class="text-truncate mb0">
                    'app.analysis.day'
                    <span class="ml-sm">60%</span>
                </p>
            </ng-template>
        </g2-card>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <g2-card [title]="'app.analysis.operational-effect'" total="78%" contentHeight="46px" [action]="action4" [footer]="footer4">
            <ng-template #action4>
                <nz-tooltip [nzTitle]="'app.analysis.introduce'">
                    <i nz-tooltip nz-icon type="info-circle"></i>
                </nz-tooltip>
            </ng-template>
            <g2-mini-progress height="46" percent="78" strokeWidth="8" target="80" color="#13C2C2"></g2-mini-progress>
            <ng-template #footer4>
                <div class="d-flex justify-content-between text-truncate">
                    <trend flag="up">
                        'app.analysis.week'
                        <span class="pl-sm">12%</span>
                    </trend>
                    <trend flag="down">
                        'app.analysis.day'
                        <span class="pl-sm">11%</span>
                    </trend>
                </div>
            </ng-template>
        </g2-card>
    </div> -->
</div>